<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<h1 th:text="${post.getTitle()}"></h1>
<p th:text="${post.getDescription()}"></p>
<p th:text="${post.getText()}"></p>
<p> Likes <span th:text="${numberLikes}"></span> </p>
    <form th:if="${session.user != null}" th:action="@{/home/post/like/{id}(id=${post.getId()})}" method="post">
    <button>Like</button>
    </form>
<p>Comments</p>
        <p th:if="${commentList.isEmpty()}">No comment</p>
<ol>
    <li th:each="item : ${commentList}" th:text="${item.text}"></li>
</ol>
        <p th:if="${session.user != null}">Add Comment</p>
    <form th:if="${session.user != null}" th:action="@{/home/post/{id}(id=${post.getId()})}"  method="post" th:object="${comment}">
        <input size="150" th:field="*{text}"/>
<!--        <input type="hidden" name="postId" value="${post.id}" th:field="*{postId}"/>-->
        <button>AddComments</button>
    </form>

</body>
</html>